@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* First section */

.hero-top a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 156px 156px;
    gap: 48px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.hero-content {
    display: flex;
    gap: 64px;
}

.hero-top ul {
    display: flex;
    gap: 16px;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.header-logo,
.hero-main,
button {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
    font-weight: 700;
}

.hero img {
    height: 250px;
    width: 1126px;
}

/* End first section */