* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
}

.header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}